<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzap</title>
</head>

<body>

    <div id="root" class="container">

        <div id="left_box">

            <div class="user_nav_container">

                <div class="user_nav_info">

                    <img :src="path + user.avatar" :alt="user.name">

                    <span class="user_name">Salvatore</span>

                </div>

                <div class="user_nav_icons">

                    <i class="fas fa-circle-notch"></i>

                    <i class="fas fa-comment-alt"></i>

                    <i class="fas fa-ellipsis-v"></i>

                </div>

            </div>

            <div class="notifications_box">

                <div class="bell_icon_box">

                    <i class="fas fa-bell-slash"></i>

                </div>

                <div class="notifications_info_text">

                    <div class="strong_text">Ricevi notifiche di nuovi messaggi</div>

                    <a href="#">Attiva le notifiche desktop</a>

                </div>

            </div>

            <div class="chat_search">

                <div class="search_icon">

                    <i class="fas fa-search"></i>

                </div>

                <input type="text" placeholder="Cerca o inizia una nuova chat" @keyup="searchContact" v-model="searchName">

            </div>

            <div class="contact_list">

                <div v-for="(contact, index) in contacts" class="contact_box"  @click="changeActiveContact(index)" v-if="contact.visible"
                :class="index == active_contact ? 'active' : null">

                    <div class="contact">

                        <img :src="path + contact.avatar" :alt="contact.name">

                        <div class="contact_chat_info_text">

                            <div class="contact_name">

                                {{contact.name}}

                            </div>

                            <div class="chat_last_message">

                                {{contact.messages.slice(-1)[0].text}}

                            </div>

                        </div>

                    </div>

                    <div class="message_info_details">

                        <div class="item_details">

                            {{contact.messages.slice(-1)[0].date}}

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div id="right_box">

            <div class="contact_chat_nav_container">

                <div class="contact_chat_nav">

                    <img :src="path + contacts[active_contact].avatar" alt="Avatar">

                    <div class="contact_chat_info">

                        <div class="contact_name">

                            {{contacts[active_contact].name}}

                        </div>

                        <!-- <div class="contact_chat_info_details" v-if="activeContactWriting">

                            {{contacts[active_contact].name}} sta scrivendo...

                        </div> -->

                        <div class="contact_chat_info_details">

                            Ultimo accesso il {{this.contacts[this.active_contact].messages.slice(-1)[0].date}}

                        </div>

                    </div>

                </div>

                <div class="contact_chat_nav_icons">

                    <i class="fas fa-search"></i>

                    <i class="fas fa-paperclip"></i>

                    <i class="fas fa-ellipsis-v"></i>

                </div>

            </div>

            <div class="chat_text_area">

                <div :class="(message.status == 'sent') ? 'message_sent' : 'message_received'" v-for="(message, index) in contacts[active_contact].messages" class="message">

                    <span>{{message.text}}</span>

                    <div class="message_info_details_chat_area">

                        {{message.date}}

                    </div>

                    <i class="dropdown fa fa-chevron-down f-right message-options" @click="showControlPanel(index)"></i>

                    <div class="control_panel_message" :class="index == activeControlPanel ? 'active' : null" @mouseleave="activeControlPanel= -1">

                        <div class="message_info">Message Info</div>
    
                        <div class="delete_message" @click="deleteMessage(index)">Delete Message</div>
    
                    </div>

                </div>

            </div>

            <div class="input_chat_text_section">

                <i class="far fa-smile"></i>

                <input v-model="userMessage" @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio" >

                <i class="fas fa-microphone"></i>

            </div>

        </div>

    </div>








    <script src="js/script.js"></script>
    
</body>

</html>